#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-layout.sidebar-closed .main-content {
  margin-left: 0;
}

.main-content {
  flex: 1;
  margin-left: 250px; /* Width of the sidebar */
  padding: 20px;
  background-color: #f0f0f0; /* Match paper background */
  min-height: 100vh;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
  }
  .main-content {
    margin-left: 0;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ModuleCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
